#r1{
    display:none;
}

#r2{
    display:none;
}
#r3{
    display:none;
}

#r4{
    display:none;
}
#r5{
    display:none;
}
#r6{
    display:none;
}
#home{
    display:inline-block;
   
}
#next{
    display:inline-block;
}