#q2{
    display:none;
}
#q3{
    display:none;
}
#q4{
    display:none;
}
#q5{
    display:none;
}
#q6{
    display:none;
}
#q7{
    display:none;
}
#q8{
    display:none;
}
#q9{
    display:none;
}
#button{
    display:none;
}
p:hover {
    color: orange;
  }
  
  